<section class="about-upper-section container-fluid d-flex align-items-center justify-content-center ">
    <div class="container-fluid" style="width: 85%;">
        <h2 class="about-title">Retail Branding</h2>
    </div>
</section>

<!-- ----------------------------- transforming Vision into Reality ----------------------------------- -->

<div class="transforming-vision py-md-3 py-0">
    <div class="container-fluid transforming-vision-container">
        <div class="row align-items-center pt-lg-5 pb-xl-3 py-3">
            <h2 class="transforming-vision-title text-justify text-md-start">
                Elevate Your Brand with Strategic and Impactful Retail Branding Solutions
            </h2>
            <p class="transforming-vision-description pt-3 text-md-start" style="text-align: justify;">
                Elevate your store’s identity with our expert branding services. We craft distinctive logos,
                compelling visuals, and cohesive designs to create a memorable customer experience. Our
                approach ensures your store stands out, attracts attention, and builds a strong brand presence
                that resonates with your target audience.
            </p>
        </div>
    </div>
</div>

<!-- ---------------------------- our expertise section ----------------------------- -->
<div class="our-expertise container-fluid mb-lg-5">
    <div class="carousel-container">
        <button class="carousel-btn prev" (click)="prevSlide()">&#10094;</button>

        <div class="carousel-wrapper">
            <div class="carousel-track" #carouselTrack>
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2022-05-12-08-52-23.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2022-05-25-17-44-45.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2022-07-23-07-00-51.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2022-07-20-17-14-32%202.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2022-12-01-16-50-37.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2023-01-04-19-42-25.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2023-08-03-23-21-00.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2023-12-05-20-53-56.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-03-04-18-15-38.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-04-02-19-20-52.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-04-02-19-20-53.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-04-05-16-26-25.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-07-30-23-58-43%202.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-07-30-23-58-43.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-07-30-23-58-44%202.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-07-30-23-58-44%203.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-07-30-23-58-44%204.jpg"
                    alt="">
                <img src="https://graphicswebsite.blob.core.windows.net/website/3.%20Service%20Page/4.%20Retail%20branding%20photos/PHOTO-2024-07-30-23-58-44.jpg"
                    alt="">
            </div>

        </div>

        <button class="carousel-btn next" (click)="nextSlide()">&#10095;</button>
    </div>

</div>