<footer class="footer-section text-white">
    <div class="container-fluid footer-container">
        <div class="container-fluid" style="width: 85%;">
            <p class="footer-subtitle mb-2 text-start">Ready to work together?</p>
            <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                <h2 class="footer-title">Let's get in touch</h2>
                <div class="footer-nav mt-4 mb-4">
                    <button class="footer-btn" routerLink="/about-us" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">About us</button>
                    <button class="footer-btn" routerLinkActive="active" routerLink="service">Service</button>
                    <button class="footer-btn" routerLinkActive="active" routerLink="/events">Events</button>
                    <button class="footer-btn" routerLinkActive="active" routerLink="/contact-us">Contact Us</button>
                </div>
            </div>
        </div>

        <hr class="footer-divider">

        <div class="container-fluid pt-4" style="width: 85%;">
            <div class="row align-items-center mt-4">
                <div class="col-12 d-md-flex d-block mb-3 justify-content-between">
                    <div class="">
                        <div class="footer-info">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>Office Address- 107, Floor no 1, Samarth Industrial estate, L T Prakash Kotnis Marg,
                                Mahim,
                                Mumbai -400016</span>
                        </div>
                        <div class="footer-info">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>Registered Address- 40, C/10, Hawa Manzil, Near Hinduja Hospital, Sitladevi Temple
                                Road, Mahim-400016</span>
                        </div>
                    </div>
                    <div class="footer-social mt-3 mt-md-0">
                        <img src="assets/Images/instagram.svg" alt="" class="mx-2 my-sm-2">
                        <img src="assets/Images/youtube.svg" alt="" class="mx-2 my-sm-2">
                        <img src="assets/Images/facebook.svg" alt="" class="mx-2 my-sm-2">
                        <img src="assets/Images/whatapp.svg" alt="" class="mx-2 my-sm-2">
                    </div>

                </div>
                <div class=" d-md-flex mb-3 col-12 d-block">

                    <div class="col-md-6 col-12 mb-sm-5 mb-3 col-xxl-4">
                        <div class="footer-info">
                            <i class="bi bi-envelope-fill"></i>
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@graphicdesigndisplay.com"
                                target="_blank">
                                info@graphicdesigndisplay.com
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-sm-5 mb-3">
                        <div class="footer-info ">
                            <i class="bi bi-telephone-fill"></i>
                            <a href="tel:+918080158519" target="_blank" rel="noopener noreferrer">
                                [+91] 8080158519
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>