<section class="about-upper-section container-fluid d-flex align-items-center justify-content-center ">
    <div class="container-fluid" style="width: 85%;">
        <h2 class="about-title">Live Event Setup</h2>
    </div>
</section>

<!-- ----------------------------- transforming Vision into Reality ----------------------------------- -->

<div class="transforming-vision py-md-3 py-0">
    <div class="container-fluid transforming-vision-container">
        <div class="row align-items-center pt-lg-5 pb-xl-3 py-3">
            <h2 class="transforming-vision-title text-justify text-md-start">
                Delivering Extraordinary Live Events with Precision and Creativity
            </h2>
            <p class="transforming-vision-description pt-3 text-md-start" style="text-align: justify;">
                We specialize in live event branding, creating impactful visuals and cohesive messaging that
                enhance your event's identity. By creating memorable experiences, it enhances brand
                recognition and audience engagement, ultimately driving brand loyalty and success. Trust us to
                deliver a memorable and engaging experience that reflects your unique vision.
            </p>
        </div>
    </div>
</div>

<!-- ---------------------------- our expertise section ----------------------------- -->
<div class="our-expertise container-fluid mb-lg-5">
    <div class="carousel-container">
        <button class="carousel-btn prev" (click)="prevSlide()">&#10094;</button>

        <div class="carousel-wrapper">
            <div class="carousel-track" #carouselTrack>
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/IMG_0054.JPG"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/IMG_6782%20(1).jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/IMG_6785%20(1).jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2023-09-27-02-36-05.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2023-10-20-18-12-09.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2023-11-17-16-35-06.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-01-25-18-43-23.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-01-26-14-16-53.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-01-31-00-31-12.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-06-20-15-30-18.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-07-11-17-08-04.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-07-26-18-56-15.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-08-28-10-11-49.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-09-14-09-51-22.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-10-12-23-19-54.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/6.%20Live%20Events/PHOTO-2024-10-20-03-39-48.jpg"
                    alt="">
            </div>

        </div>

        <button class="carousel-btn next" (click)="nextSlide()">&#10095;</button>
    </div>

</div>