<section class="about-upper-section container-fluid d-flex align-items-center justify-content-center ">
    <div class="container-fluid" style="width: 85%;">
        <h2 class="about-title">Branding</h2>
    </div>
</section>

<!-- ----------------------------- transforming Vision into Reality ----------------------------------- -->
<div class="transforming-vision py-md-3 py-0">
  <div class="container-fluid transforming-vision-container">
    <div class="row align-items-center pt-lg-5 pb-xl-3 py-3">
      <h2 class="transforming-vision-title text-justify text-md-start">
        Transforming Visions into Reality: Innovative <br>
        Branding Solutions for Your Business
      </h2>
      <p class="transforming-vision-description pt-3 text-md-start" style="text-align: justify;">
        We transform ideas into unforgettable experiences. Our expert team crafts bespoke events
        tailored to your vision, ensuring seamless execution and unparalleled service. Our services
        include creating and installing signages, hoardings, merchandising displays, LED sign boards,
        product display stands, ACP sign boards, and display boards. We also offer moving product
        displays (scrollers), illuminated signs, and specialized exhibition stall sign design and displays.
        Additionally, we provide LED acrylic letters, acrylic 3D letters, large letter signages, vinyl in-shop
        branding solutions, retro-reflective direction sign boards, and enameled boards.
      </p>
    </div>
  </div>
</div>


<!-- ---------------------------- our expertise section ----------------------------- -->
<div class="our-expertise container-fluid mb-lg-5">
    <div class="carousel-container">
        <button class="carousel-btn prev" (click)="prevSlide()">&#10094;</button>

        <div class="carousel-wrapper">
            <div class="carousel-track" #carouselTrack>
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/17dbebba-1fe6-4bb5-865a-ce5015cf3dde.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/28db06ee-b434-4fc4-8726-14aaa379d957.JPG"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/2b0c1faf-2000-4ddb-906d-5b6d59305273.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/588eabb1-4f3c-4c40-9bc7-3b6a23e82961.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/D1CA931B-3DC6-4AB0-91E1-2ACD5CEC175F.JPG"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_0024.JPG"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_1841.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_1999.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_2946%20copy.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_2973.JPG"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_2980.JPG"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_3093.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_6264.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/IMG_9720.jpg"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/d9e441cd-f86e-48cc-b450-2b7e622cf520.JPG"
                    alt="">
                <img src="https://websitemetadata.blob.core.windows.net/website/3.%20Service%20Page/1.%20Branding%20Photos/db9f23dd-566b-482f-b9f2-f205c6394b2f.JPG"
                    alt="">
            </div>
        </div>

        <button class="carousel-btn next" (click)="nextSlide()">&#10095;</button>
    </div>

</div>