<section class="about-upper-section container-fluid d-flex align-items-center justify-content-center ">
  <div class="container-fluid" style="width: 85%;">
    <h2 class="about-title">About Us</h2>
  </div>
</section>


<!-- ---------------------------------- transforming-events-------------------------------- -->

<section class="transforming-events py-md-3 pt-2">
  <div class="container-fluid transforming-container">
    <div class="row align-items-center justify-content-between py-lg-5 py-md-3 py-2">
      <div class="col-lg-6 col-md-12 transforming-text mb-4 mb-lg-0">
        Transforming Ideas into Memorable Events
      </div>

      <div class="col-lg-5 col-md-12 text-center mb-md-0 mb-3">
        <img
          src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/About%20Company/IMG_8629.JPG"
          alt="Event Display"
          class="img-fluid transforming-img"
        />
      </div>
    </div>

    <div class="description-part my-md-4">
      <p class="description-text pb-xxl-4 pb-xxl-2 pb-md-1">
        Graphic Design & Display Private Limited is your premier choice for top-notch event management services, backed by over 20 years of proven experience. As pioneers in the industry, we are dedicated to flawless execution, strategic planning, and impeccable coordination that ensure every event is a resounding success.
      </p>

      <p class="description-text pb-xxl-4 pb-xxl-2 pb-md-1">
        Our team of seasoned professionals delivers excellence in every project we undertake, tailoring each experience to meet the specific goals and vision of our clients. Our expertise spans a wide spectrum — from large-scale marathons, international and ultra marathons, and sports activations to government initiatives, corporate conferences, brand launches, and entertainment events.
      </p>

      <p class="description-text pb-xxl-4 pb-md-1">
        With creativity at the core and perfection in execution, we continue to set new benchmarks in the event industry. Each project is thoughtfully crafted to align with our clients’ vision and objectives, delivering experiences that inspire, connect, and endure.
      </p>
    </div>
  </div>
</section>

<!-- ---------------------------- our expertise section ----------------------------- -->
<section class="our-expertise-section py-3">
    <div class="container-fluid mb-4 our-expertise-container" style="width: 85%;">
        <h2 class="transforming-text py-xxl-5 pb-xl-4 py-md-2 pb-2">Our Expertise</h2>
        <p class="description-text">
            Our portfolio showcases our successful management of a diverse range of
            events, including marathons, cyclothons, walkathons, sports events,
            exhibitions, conferences, corporate events, and entertainment shows. With
            every project, we bring together strategic planning, creative execution, and
            seamless coordination to deliver impactful experiences that leave a lasting
            impression.</p>
    </div>
</section>

<div class="our-expertise container-fluid mb-xl-5">
  <div class="carousel-container">
    <button class="carousel-btn prev" (click)="prevSlide()">&#10094;</button>

    <div class="carousel-wrapper">
      <div class="carousel-track" #carouselTrack>
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/3d%20Letter%20Cutout%20%20.JPG" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/3d%20Medal%20Cutout%20.jpg" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/Acrylic%203d%20Logo.JPG" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/Car%20Branding.JPG" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/Flag%20Off%20Stage.jpg" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/IMG_8649.JPG" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/Main%20Stage%20.jpg" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/Media%20Center(1).JPG" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/PD%20Stage%20.JPG" alt="">
        <img src="https://graphics.blob.core.windows.net/graphics/2.%20About%20Us%20Page-20251107T051318Z-1-001/2.%20About%20Us%20Page/Our%20Expertise/Tata%20Social%20Enterprise%20Challenge.JPG" alt="">
      </div>
    </div>

    <button class="carousel-btn next" (click)="nextSlide()">&#10095;</button>
  </div>

  <div class="button-div d-flex justify-content-center my-5">
    <button class="btn explore-event-btn" routerLink="/events">Explore our Events</button>
  </div>
</div>


