<section class="about-upper-section container-fluid d-flex align-items-center justify-content-center ">
    <div class="container-fluid" style="width: 85%;">
        <h2 class="about-title">Other Events</h2>
    </div>
</section>

<!-- ----------------------------- transforming Vision into Reality ----------------------------------- -->
<div class="transforming-vision py-md-3">
    <div class="container-fluid" style="width: 85%;">
        <div class="row align-items-center py-md-5 py-3">
            <h2 class="transforming-vision-title">
                Creating Memorable Experiences for All Types of Special Events
            </h2>

            <p class="transforming-vision-description pt-3">Technology Events</p>
            <p class="transforming-vision-description pt-3">
                We excel in managing technology events like the Bengaluru Tech Summit. Our branding expertise
                ensures your event stands out, with meticulous planning and execution. From innovative displays to
                engaging experiences, we create a lasting impact, making your tech summit a memorable success.
            </p>

            <p class="transforming-vision-description pt-3">Government Events</p>
            <p class="transforming-vision-description pt-3">
                We excel in managing prestigious government events like the G20 DIA Summit. Our comprehensive
                services include strategic branding, meticulous planning, and flawless execution. We ensure that
                every detail aligns with the highest standards, creating impactful and memorable experiences for
                delegates and attendees. Trust us for unparalleled professionalism and excellence.
            </p>
        </div>
    </div>
</div>

<!-- ---------------------------- our expertise section ----------------------------- -->
<!-- <div class="our-expertise container-fluid mb-5">
    <div class="carousel-container">
        <button class="carousel-btn prev" (click)="prevSlide()">&#10094;</button>

        <div class="carousel-wrapper">
            <div class="carousel-track" #carouselTrack>
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/41b9caa2-a82f-4b5f-8f08-c4ce611680ee.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/7dcd2c96-b49f-408f-8cb0-6332333b1b5d.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/8dc5c4b9-045a-4248-8bed-f608d2e42d87%202.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_1779.jpg"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_2038.jpg"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_2979.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_2981.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_3006.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_6863%202.jpg"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_7164.jpg"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_8514.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_8634.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/IMG_8662.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/c9e76f73-2a54-400f-8532-02bde69aa616.JPG"
                    alt="">
                <img src="https://graphics.blob.core.windows.net/graphics/3.%20Service%20Page/2.%20Sports%20event%20management%20photos/eb107b57-2c20-47e2-b580-4846282ddde2%202.JPG"
                    alt="">
            </div>
        </div>

        <button class="carousel-btn next" (click)="nextSlide()">&#10095;</button>
    </div>

</div> -->